apiVersion: v1
kind: Service
metadata:
  name: {{ include "xg2g.fullname" . }}
  labels:
    {{- include "xg2g.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.metrics.enabled }}
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
    {{- if .Values.config.streamProxy.enabled }}
    - port: {{ .Values.config.streamProxy.port }}
      targetPort: proxy
      protocol: TCP
      name: proxy
    {{- end }}
  selector:
    {{- include "xg2g.selectorLabels" . | nindent 4 }}
