# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go source files
[*.go]
indent_style = tab
indent_size = 4

# Go module files
[go.{mod,sum}]
indent_style = tab

# YAML files (docker-compose, k8s manifests, GitHub Actions)
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2

# Git config files
[.git*]
indent_style = space
indent_size = 2

# Environment files
[.env*]
insert_final_newline = false
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Go files
[*.go]
indent_style = tab
indent_size = 8

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Dockerfile
[Dockerfile*]
indent_style = space
indent_size = 2

# Makefile (tabs required)
[Makefile]
indent_style = tab
indent_size = 8

# XML files
[*.xml]
indent_style = space
indent_size = 2